version: "2"

services:
  vote:
    image: {{ voting_image_name }}:{{ voting_image_version }}
    container_name: voting-app
    ports:
      - "5000:80"
    depends_on:
      - message-queue

  results:
    image: {{ results_image_name }}:{{ results_image_version }}
    container_name: voting-results
    ports:
      - "5001:80"
    environment:
      - "ConnectionStrings:ResultData=Server=db;Port=3306;Database=votes;User=root;SslMode=None"
    depends_on:
      - db

  worker:
    image: {{ worker_image_name }}:{{ worker_image_version }}
    container_name: voting-worker
    environment:
      - "MessageQueue:Url=nats://message-queue:4222"
      - "ConnectionStrings:VoteData=Server=db;Port=3306;Database=votes;User=root;SslMode=None"
    depends_on:
      - message-queue
      - db

  message-queue:
    image: nats:2.1-scratch
    container_name: voting-queue
    ports:
      - "4222:4222"

  db:
    image: mysql:8.0.18
    container_name: voting-db
    ports:
      - "4000:3306"
    environment:
      - "MYSQL_ALLOW_EMPTY_PASSWORD=true"
